body { 
	padding-top: 70px; 
}


.calendar {
	font-family: Arial, Verdana, Sans-serif;
	width: 100%;
	min-width: 960px;
	border-collapse: collapse;
}

.calendar tbody tr:first-child th {
	color: #505050;
	margin: 0 0 10px 0;
}

.day_header {
	font-weight: normal;
	text-align: center;
	color: #757575;
	font-size: 10px;
}

.calendar td {
	width: 14%; /* Force all cells to be about the same width regardless of content */
	border:1px solid #CCC;
	height: 100px;
	vertical-align: center;
	font-size: 10px;
	padding: 0;
}

.calendar td:hover {
	background: #F3F3F3;
}

.day_listing {
	display: block;
	text-align: right;
	font-size: 12px;
	color: #2C2C2C;
	padding: 5px 5px 0 0;
}

div.today {
	background: #E9EFF7;
	height: 100%;
	}

.navbar-nav li:hover .dropdown-menu{
	display: block;
}

#patient_suggestion > li {
    background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 1px solid #E3E3E3;
    list-style: none outside none;
    padding: 3px 15px 3px 15px;
    text-align: left;
}

#patient_suggestion > li a { color: #800000; }

.patient_list {
    border: 2px solid #E3E3E3;
    border-radius: 0px 5px 5px 5px;
    margin-top: 3px;
    position: absolute;
}


#quote {
	color: #b9bbbf;
	font-style: italic;
}

#calendar {
	max-width: 100%;
	margin: 40px auto;
}
